MONGO_URI=mongodb://localhost:27017/ecommerce_app
MONGODB_URL=mongodb://localhost:27017/ecommerce_app
CSV_DIR=/mnt/c/Users/PixelX/Coding/E-Commerce-Web-Application/database
LOGS_DIR=/mnt/c/Users/PixelX/Coding/E-Commerce-Web-Application/apps/server/logs
MIGRATION_BATCH_SIZE=1000
MIGRATION_DRY_RUN=false
